@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-base leading-[1.4];
  }

  label {
    @apply mb-2 inline-block;
  }
}

@layer components {
  .container {
    @apply max-w-sm sm:max-w-md md:max-w-lg lg:max-w-xl;
  }

  .section-padding {
    @apply py-5 md:py-8;
  }

  .section-title {
    @apply mb-14 text-3xl font-bold;
  }
}

* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}
